#top{
    background-color: #176c17;
    font-size: 25px;
    margin-right: 5%;
    margin-left: 5%;
    margin-top: 1% ;
    color: white;
    font-family: DialogInput;
    text-align: match-parent;
    height: 60px;
}

#left{
    background-color:aqua;
    margin-left: 5%;
    margin-right: 72%;
    margin-top: 15px;
    height: 600px;
}

#grid-conteiner{

    margin-left: 200px;
    display: grid;
    width: 450px;
    height: 100%;
    background-color: white;
    grid-template-columns: repeat(3, 150px);
    //border: green solid;
    grid-template-areas:
        "area-1 area-1 area-1"
        "area-2 area-2 area-3"
        "area-4 area-4 area-4"
        ". . . ";
}

.grid-item{
    background-color: aqua;
    //border: 15px blue solid;
    text-align: center;



}

#grid-item-1{
    grid-area: area-1;
    background-color: white;
    text-align: left;
    font-family: Candara;
    color: black;
}

#grid-item-2{
    grid-area: area-2;


}

#grid-item-3{
    grid-area: area-3;
}

#grid-item-4{
    grid-area: area-4;
}