#father{
    display: grid;
    height: 730px;
    width: 100%;
    grid-template-columns: 21% auto;
    grid-template-rows: 10%  auto 10%;
    grid-template-areas:
            "area_1 area_1"
            ". ."
            "area_4 area_4";
}

.father_item{
    background-color: white;
}

#father_item_1{
    grid-area: area_1;
    background-image: url("images/fish_fon.jpg");
}
#father_item_2{
    background-image: url("images/fish_fon.jpg");

}
#father_item_3{
    background-image: url("images/fish_fon.jpg");
    padding-top: 5px;
    margin-bottom: px;
}
#father_item_4{
    grid-area: area_4;
    background-image: url("images/fish_fon.jpg");
}
.hat{
    background-color: #00693E;
    padding-bottom: 10px;
    margin-left: 80px;
    margin-right: 80px;
    height: 50px;
    margin-top: 10px;
    color: white;
    font-size: 25px;
    padding-top: 15px;
    padding-left: 15px;
}

#freez{
    padding-left: 15px;
    color: blue;
    padding-top: 5px;
}
#left_menu_text{
    color: black;
    padding-bottom: 15px;
    padding-left: 15px;
    padding-top: 0px;
}
#left_menu{
    background-color: #F1EEEE;
    margin-left: 80px;
    height: 619px;
    margin-top: 10px;
}
#central_content1{
    background-color: white;
    margin-top: 10px;
    margin-right: 80px;
    height: 225px;
    display: grid;
    grid-template-columns: 50% 50%;
    grid-template-rows: 95px 65px 67px;
    grid-template-areas:
            "Carea_1 Carea_1 Carea_1"
            "Carea_2 Carea_3 Carea_3"
            "Carea_4 Carea_4 Carea_4";

}

.central_grid{
margin-left: 15px;

}
.central{
}
#central_grid_item_1{
    grid-area: Carea_1;
}
#central_grid_item_2{
    grid-area: Carea_2;
    background-color: #F1EEEE;
    border-right: 5px white solid;
}
#central_grid_item_3{
    grid-area: Carea_3;
    background-color: #F1EEEE;
}
#central_grid_item_4{
    grid-area: Carea_4;
}
#central_content2{
    height: 392px ;
    background-color: white;
    margin-right: 80px;
    display: grid;
    grid-template-columns:33% 33% auto;
    grid-template-rows: 30% 30%;
    grid-gap: 10px;
}
#gri_con{
    display: grid;
    background-color: #F1EEEE;
    grid-template-columns: 50% 50%;
    grid-template-rows: auto auto;
    grid-template-areas: "gi1 ."
                        'gi1 .';
    height: 75%;
    width: 85%;
    margin-left:5%;
}
#gi1{
    grid-area: gi1;

}
.gridin{
    margin-left: 5px;
    margin-top: 20px;
    margin-bottom: 20px;
}

.central_grid2{
    background-color: #F1EEEE;
    margin-top: 1%;
    margin-left: 15px;
}

.zagolovok{
    height: 100%;
    width: 100%;
    text-align: justify;
    margin-left:15px;


}
#h1{
    font-size: 175%;

}
#h2{
    font-size: 100%;

}
#h3{
    padding-left: 15px;
}

#image_block{
    background-color: #D8CFCF;
    width: 100%;
    height: 100%;
    background-image: url("images/палтус.jpg");
}

#seafood{
    background-color:
    font-family: Arial;
    width: 80%;
    margin-left: 5%;
}

#kupit\'{
    color: black;
    background-color: #D8CFCF;
    margin-left: 5px;
}

#gi2{
    margin-left: 9px;
}
p{

}

#karzina{
    bottom: 1px;
    height: 50px;
    margin-top: 142%;
}

#basket{
    display: grid;
    grid-template-columns: 50% 50%;
    grid-template-rows: 51px;
}

.basket_item{
}

#basket_item_1{
    background-image: url("images/image.png.png");
    background-repeat: no-repeat;
    background-position: center;
}
#basket_link{
    font-style: oblique;
    position: center;
    margin-right: 20%;
}

#back_fon{
    background-image: url("images/fish_fon.jpg");
}
